@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
    margin:0;
    padding:0;
}

html{
    scroll-behavior: smooth;
}

.logo{
    display: flex;
    justify-content: center;
    width:20%;
    align-items: center;
}

.logo img{
    width:26%;
    border: 3px solid white;
    border-radius: 50px;
    margin:5px;
} 

.navbar{
    display:flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top:0;
    cursor: pointer;
}

.leftNav{
    width:70%;
    /* background-color:black; */
    display: flex;
    align-items: center;
}

.leftNav li{
    list-style: none;
    padding: 20px 30px;
    

}

.leftNav li a{
    text-decoration: none;
    color:white;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
}

.leftNav li a:hover{
    text-decoration: none;
    color:gray;
}

.rightNav{
    width:30%;
    /* background-color: coral; */
    text-align: right;
    align-items: center;
    padding: 0 23px;
}

#search{
    padding: 2px 0px;
    border: 2px solid gray;
    border-radius: 8px;
    font-size:17px;
}

.background{
    background: rgba(0, 0,0,0) url(../img/bg4.jpg);
    background-size: cover;  
    background-blend-mode: darken;  
}

.box-main{
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width:50%;
    margin: auto; 
    height:70%;

}

.firstSection{
    height:100vh;

}

.firsthalf{
    width:80%;
    display: flex; 
    flex-direction: column;
    justify-content: center;
}

.secondhalf{
    width:30%;
}

.secondhalf img{
    border-radius: 150px;
    border: 4px solid black;
    margin: auto;
    display: block;
    width: 70%;
}

.textbig{
    font-size: 35px;
}

.textsmall{
    font-size: 18px;
}

.btn{

    padding: 8px 20px;
    margin:10px 3px;
    border:2px solid white;
    border-radius: 8px;
    background: none;
    cursor: pointer;
    color: white;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
}

.btn-sm{
    vertical-align: middle;
    padding:6px 10px;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
}

.section{
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    max-width: 80%;
    margin: auto;
    /* height:370px; */
    font-family: 'Ubuntu', sans-serif;
    padding: 10px;

}

.sectionrev{
    flex-direction:row-reverse;
}


.paras{
    padding: 0px 40px; 
}

.secTag{
    padding: 16px 0px;
}

.secsubT{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.thumbnail img{
    width: 250px;
    border: 2px solid black;
    border-radius: 20px;
    margin-top: 10px;
}

.contact{
    background-color: whitesmoke;
    height:100vh;
}

.text-center{
    text-align: center;
    padding-top: 30px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 35px;
}
.form{
    max-width: 62%;
    margin: 24px auto;
}

.form-input {
    width:100%;
    font-size: 15px;
    border:2px solid grey;
    border-radius: 6px;
    margin: 14px 0px;
    padding: 5px 3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn-dark{
    color:black;
    border:2px solid grey;
}

.text-footer{
    text-align: center;
    padding: 30px 0px;
    font-family: 'Ubuntu', sans-serif;
    color: white;

}

/* Responsive design media queries */

.burger{
    position: absolute;
    top: 15px;
    right: 5%;
    cursor: pointer;
    display: none;

}

.line{
    height: 4px;
    width: 55px;
    margin: 7px 3px; 
    background-color:white;
}














